{% extends 'base.html' %}

{% block title %}
    Create A Recipe - Scrumptious recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'show_all_recipes' %}">Main Page</a>
    </nav>
</header>
<main>
    <h1 class="make-text-green">Create A Recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ recipe.as_p }}
        <button>Create</button>
    </form>
</main>
{% endblock content %}