{% extends 'base.html' %}

{% block title %}
    {{ recipe.title }} - Scrumptious Recipes
{% endblock title%}

{% block content %}
<header>
    <nav>
        <a href="{% url 'show_all_recipes' %}">Main Page</a>
    </nav>
</header>
<main>
    <h1 class="make-text-green">{{ recipe.title }}</h1>
    <img src="{{ recipe.picture }}" alt="{{ recipe.title }}">
    <p>{{ recipe.description }}</p>
    <div>{{ recipe.rating }} ⭐️</div>
    <h2>Ingredients</h2>
    <table class="table-column-spacing make-even-rows-gray">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 cup</td>
                <td>Green beans</td>
            </tr>
            <tr>
                <td>3 ears</td>
                <td>Fresh corn</td>
            </tr>
            <tr>
                <td>2 cups</td>
                <td>Tomatillo salsa</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Corn tortillas</td>
            </tr>
            <tr>
                <td>0.5 cups</td>
                <td>Cotija cheese</td>
            </tr>
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        <li>Blanch the green beans</li>
        <li>Grill the green beans and the ears of corn</li>
        <li>Chop the green beans</li>
        <li>Slice the corn off the cob</li>
        <li>Grill the tortillas</li>
        <li>Assemble the tacos with veggies, salsa, and cheese</li>
    </ol>
    <a href="{% url 'edit_recipe' recipe.id %}">
        <button>Edit Recipe</button>
    </a>
</main>
{% endblock content %}