{% extends 'base.html' %}

{% block title %}
    Edit {{ recipe.title }} - Scrumptious Recipes
{% endblock title %}


{% block content %}
<header>
    <nav>
        <a href="{% url 'show_all_recipes' %}">Main Page</a>
    </nav>
</header>
<main>
    <h1 class="make-text-green">Edit {{ recipe_object.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Update</button>
    </form>
</main>
{% endblock content %}