{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'show_all_recipes' %}">Main Page</a>
        <a href="{% url 'create_recipe' %}">Create A Recipe</a>
    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="my-grid make-link-green">
        {% for recipe in recipes %}
        <div>
            <h3><a href="{% url "show_recipe" recipe.id %}">{{ recipe.title }}</a></h3>
            <p>{{ recipe.created_on|date:" j F Y" }}</p>
            <img src="{{ recipe.picture }}" alt="{{ reciple.title }}">
            <p>{{ recipe.description }}</p>
            <div>{{ recipe.rating }} ⭐️</div>
        </div>
        {% empty %}
            <p>There are no recipes.</p>
        {% endfor %}
    </div>
</main>
{% endblock content %}