body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

main {
    padding: 16px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #f98f21;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

img {
    height: 200px;
    max-width: 300px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: #0DB3D9;
    color: white;
}

a { /* remove underline */
    text-decoration-line: none;
}

a:hover { /* change link text color 
           * to blue on mouse hover */
    color: blue;
}

.make-text-green {
    color: rgb(7, 150, 7);
}

.make-link-green a {
    color: rgb(7, 150, 7);
}

.make-link-green a:hover { /* change link text color 
                            * to blue on mouse hover */
    color: blue;
}

tr td:first-child{
    border-left: 0px solid rgba(0,0,0,0);
}

td {
    border-left: 25px solid rgba(0,0,0,0);
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.make-even-rows-gray tr:nth-child(even) {
    background-color: #e5e5e5;
}